    @import '~office-ui-fabric-react/dist/sass/References.scss';
    .IconPickerCustomCollectionField {
        width: 70px;
        .icon {
            padding-left: 13px;
            font-size: 30px;
        }
        .searchBox {
            width: 200px;
        }
    }
    
    .ColorPickerCustomCollectionField {
        width: 70px;
    }
    
    .editPanelTable {
        text-align: center;
    }
    
    .popupIconPicker {
        .iconlist {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin: 10px -5px;
        }
        .iconListDiv {
            overflow: scroll;
            height: 600px;
            width: 800px;
        }
        .iconListItem {
            font-size: large;
            height: 100px;
            width: 175px;
            text-align: center;
            display: inline-block;
        }
        .icon {
            display: block;
            font-size: 40px;
            height: 40px;
        }
    }
    
    .documentDirectory {
        .tileAnchor {
            text-align: center;
        }
        .iconListItem {
            font-size: large;
        }
        .root {
            width: 100%;
        }
        .imageContainer .frame {
            background-color: transparent;
        }
        .tile {
            margin: 0px;
            position: relative;
            float: left;
            overflow: hidden;
        }
        .tile .tileLabel {
            // font-size: 12px;
            left: 3px;
            padding: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .hoverCard {
            //transform: translateX(-100%);
            transition: transform 400ms ease-in;
            text-align: center;
            // padding-top: 40px;
            position: absolute;
            color: white;
            left: 0;
            overflow: hidden;
            // font-size: 11px;
        }
        // .hoverCard.slideIn {
        //     transform: translateX(0px)
        // }
    }