    @import '~office-ui-fabric-react/dist/sass/References.scss';
    .documentDirectory {
        .root {
            width: 100%;
        }
        .imageContainer .frame {
            background-color: transparent;
        }
        .tile {
            width: 150px;
            height: 100px;
            margin: 1px;
            position: relative;
            float: left;
            overflow: hidden;
        }
        .tile .tileLabel {
            font-size: 12px;
            left: 3px;
            padding: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .tile .tileHoverText {
            transform: translateX(-150px);
            transition: transform 50ms ease-in;
            text-align: center;
            padding-top: 40px;
            position: absolute;
            color: white;
            left: 0;
            font-size: 11px;
        }
        .navbar {
            transform: translateX(-150px);
            transition: transform 400ms ease-in;
            text-align: center;
            // padding-top: 40px;
            position: absolute;
            color: white;
            left: 0;
            font-size: 11px;
        }
        .navbar.slideIn {
            transform: translateX(0px)
        }
        .navbar.slideOut {
            transition: transform 2000ms ease 1000ms;
        }
    }